body {
    background-color: azure;
    align-content: center;
}
.navigation {
    background-color: aqua;
    font-family: cursive;
    padding: 10px;
    margin-right: 5px;
    width: 100%;
    max-width: fit-content;

}

div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
